body {
    margin: 0;
    padding: 0;
    background-color: #04AA6D;
    color: #333;
}

#title {
    text-align: center;
    margin-top: 10%;
    font-size: 28px;
    color: #EFEFEF;
}

#main {
    background-color: #EFEFEF;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
}

#main>input {
    background-color: #EFEFEF;
    width: 70%;
    margin-right: 0;
    border: none;
    border-bottom: 1px solid #444;
}

#main>button {
    width: 10%;
    margin-left: 0;
    border: none;
    border-radius: 3%;
    background-color: #04AA6D;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
}

#main>button:hover {
    cursor: pointer;
    font-size: 14px;
}

#main>p {
    margin-left: 10%;
    float: left;
    margin-top: 30px;
    margin-bottom: 25px;
}

#main>p>a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

#footer {
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 auto 0;
}

#footer>a {
    color: white;
    text-decoration: none;
}