<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>URL shortner</title>
</head>

<body>

    <div id="title">
        <p>URL Shortner</p>
    </div>
    <div id="main">
        <input type="text" placeholder="Enter the URL here.">
        <button type="submit">submit</button>


        <p> shortened url: <a href="#"> some link</a></p>
    </div>

    <div id="footer">
        created by <a href="www.github.com/miirzamiir">miirzamiir</a>
    </div>
</body>

</html>